*{
	box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-size: cover;
    display: grid;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3CB371;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: black;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

section{
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#008000;
	border-color: #006400;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

#mensagens-erro{
	color: red;
}